<p>nav-bar works!</p>
<nav>
  <a routerLink="/search" routerLinkActive="active">Search Documents</a>
  <a routerLink="/upload" routerLinkActive="active">Upload Documents</a>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/userManagment" routerLinkActive="active">User Managment</a>

</nav>

<button (click)="download()" >des</button>

<button (click)="sendEmail()" >sendEmail</button>

<a [href]="fileUrl" download="Mirame.pdf">DownloadFile</a>
<div *ngIf="statistics != undefined">
  <p> {{statistics}} </p>
</div>
