<p>nav-bar works!</p>
<nav>
  <a routerLink="/search" routerLinkActive="active">Search Documents</a>
  <a routerLink="/upload" routerLinkActive="active">Upload Documents</a>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/userManagment" routerLinkActive="active">User Managment</a>

</nav>



<button (click)="sendEmail()" >sendEmail</button>

<a [href]="fileUrl" download="Mirame.pdf">DownloadFile</a>
<div *ngIf="statistics != undefined">
  <p> {{statistics}} </p>
</div>




<div>

  <button (click)="download($event)" taco="h" id="Mirame.pdf" >Mirame.pdf</button>
  <button (click)="download($event)" id="Almohada.pdf" >Almohada.pdf</button>

</div>

<div>
  <button (click)="viewDocument($event)" title="b" id="Mirame.pdf"> ver1 </button>
  <button (click)="viewDocument($event)"  id="Almohada.pdf"> ver </button>
</div>
